body {
    background-color: rgb(108, 176, 215);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

header {
    background-color: greenyellow;
}

h1 {
    color: greenyellow;
}

nav>ul {
    margin: 0 10 15 0;
    padding: 0 10 10 0;
}

section {
    background-color: teal;

}

footer {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

#email {
    color: greenyellow;
    font-family: cursive, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

ol {
    font-style: oblique;
}

.heading {
    color: rgb(205, 236, 158);

}